{
	http_port 8080
	https_port 8443
	admin off
}

{$APP_HOST:localhost} {
	log {
		output file /var/log/caddy/access.log {
			roll_size 10MiB
			roll_keep 10
			roll_keep_for 720h
		}
	}

	redir /captcha /captcha/ 308

	handle_path /captcha/* {
		reverse_proxy cap:3000
	}

	handle {
		reverse_proxy app:8080
	}
}
